[user]
	name = Brett Porter
[github]
	user = brettporter
[core]
	autocrlf = input
	excludesfile = /Users/brett/.gitignore_global
[color]
	ui = auto
[push]
	default = upstream
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[help]
	autocorrect = 25
[alias]
	stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
	patdiff = difftool -y -x patdiff
	local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
