[submodule "bin/vagrant-bash-completion"]
	path = bin/vagrant-bash-completion
	url = https://github.com/brettporter/vagrant-bash-completion.git
[submodule "bin/github-tools"]
	path = bin/github-tools
	url = https://github.com/brettporter/github-tools.git
[submodule "bin/clustergit"]
	path = bin/clustergit
	url = https://github.com/mnagel/clustergit
[submodule "bin/oo2otl-repo"]
	path = bin/oo2otl-repo
	url = https://gist.github.com/749332.git
[submodule "bin/github-watch-all"]
	path = bin/github-watch-all
	url = https://gist.github.com/4226cbf2eff7686790cc10b7de63fd85.git
